<!DOCTYPE html>
<html>
<head>
    <title>Työkalusovellus</title>
</head>
<body>
    <h1>Tervetuloa työkalusovellukseen</h1>
    {% if user.is_authenticated %}
        <p>Olet kirjautunut sisään käyttäjänä {{ user.username }}.</p>
        <form method="post" action="{% url 'etusivu' %}">
            {% csrf_token %}
            <button type="submit">Etusivulle</button>
        </form>
        <br>
        <form method="post" action="{% url 'tyontekija_lisays' %}">
            {% csrf_token %}
            <button type="submit">Uusi käyttäjä</button>
        </form>
        <br>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Kirjaudu ulos</button>
        </form>
        <h2>Valitse toiminto:</h2>
        <a href="{% url 'kalusto_lista' %}">
            <button>Kaluston hallinta</button>
        </a>
        <a href="{% url 'tyomaa_lista' %}">
            <button>Työmaiden hallinta</button>
        </a>
        {% block content %}{% endblock %}
    {% else %}
        <p>Et ole kirjautunut sisään.</p>
        <a href="{% url 'login' %}">Kirjaudu sisään</a> tai
    {% endif %}
</body>
</html>